<!DOCTYPE html>
    <html>
    <head>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{mymap.js}}
            <title>
                Look at the sky | I'm still here.
                <!-- <marquee behavior="scroll" direction="left">Look at the sky, I’m still here. I’ll be alive next year. I can make something good, oh something good.</marquee> -->
            </title>
    </head>
    <body>
        <body style='margin: 0'></body>
        <div style="width: 100%; height: 100%" id="mapContainer"></div>
        <h1>Look at the sky!</h1>
        <h2> I'm still here. </h2>
        {{mymap.html}}
    </body>
</html>
